<!-- <app-header />
<div class="wrapper">
  <app-card />
  <app-card />
  <app-card />
</div>
<app-footer/> -->

<!-- <app-input-output/> -->
<!-- <div *ngFor="let post of posts; let i = index">
  <app-post 
  [post]="post"
  (delete)="onDeletepost(i)"
  (likeClicked)="onLikeClicked(i)">
</app-post>
</div> -->

<div class="container">
 
  <button (click)="toggleForm()" class="add-post-btn">➕</button>

 
  <app-post-form *ngIf="showForm" (postCreated)="onPostCreated($event)"></app-post-form>

  <!-- قائمة البوستات -->
  <div *ngIf="!showForm">
    <app-postcard 
      *ngFor="let post of posts; let i = index"
      [post]="post"
      (delete)="onDeletePost(i)">
    </app-postcard>
  </div>
</div>





